html,
body {
	background: #909ebd;
	text-align: center;
	.title {
		color: #ca4928;
		padding: 15px;
	}
	.subTitle {
		color: #8d3e1f;
	}

	.footer {
		color: #6d2f16;
		padding: 15px;
	}
}
.container {
	align-content: center;
	.col-4 {
		align-content: center;
		margin-bottom: 2em;
		.cardh-100 {
			align-content: center;
		}
	}
}
